* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

.wrapper {
    box-sizing: border-box;
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
    word-wrap: break-word;
}

html,body{
    font-family: "lato", serif ;
}

.container {
   max-width: 1250px;
   margin: 0 auto;
}

.text_container {
    margin: 80px 132px 100px 82px;
    font-size: 70px;
    line-height: 90px;
    font-weight: 800;
    text-align: left;
}


.textblock_1{
    padding-bottom: 107px;
}

.textblock_2 {
    font-weight: normal;
}

.text_1 {
    background-color: #97CF26;
    border-radius: 51.9762px;
    padding: 0 28px 10px;
}

.text_2 {
    background-color: #FF6163;
    border-radius: 51.9762px;
    padding: 0 28px 10px;
}

.text_3 {
    background-color: #A169F7;
    border-radius: 51.9762px;
    padding: 0 28px 10px;
}

.text_4 {
    background-color: #00AAFF;
    border-radius: 51.9762px;
    padding: 0 28px 10px;
    margin-left: 70px;
}

.text_5 {
    box-shadow: 0px 2px 25px 2px rgba(47, 51, 64, 0.15);
    border-radius: 20px;
    padding: 0 0 0 28px;
    font-weight: 800;
    line-height: 30px;
}

.img_1{
    width: 54px;
    height: auto;
    padding: 0 21px 0 10px;
    vertical-align: center;
}

.text_6 {
    box-shadow: 0px 2px 25px 2px rgba(47, 51, 64, 0.15);
    border-radius: 20px;
    padding: 0 0 0 28px;
    font-weight: 800;
    line-height: 30px;
}

.img_2{
    width: 57px;
    height: auto;
    padding: 0 21px 0 10px;
    vertical-align: center;
}

.text_7 {
    background-color: #ffffff;
    box-shadow: 0px 2px 25px 2px rgba(47, 51, 64, 0.15);
    border-radius: 20px;
    padding: 0 0 0 28px;
    font-weight: 800;
    line-height: 30px;
}

.img_3{
    width: 52px;
    height: auto;
    padding: 0 21px 0 10px;
    vertical-align: center;
}

.text_8 {
    background-color: #ffffff;
    box-shadow: 0px 2px 25px 2px rgba(47, 51, 64, 0.15);
    border-radius: 20px;
    padding: 0 0 0 28px;
    font-weight: 800;
    line-height: 30px;
}

.img_4{
    width: 51px;
    height: auto;
    padding: 0 21px 0 10px;
    vertical-align: center;
}

.text_9 {
    background-color: #ffffff;
    box-shadow: 0px 2px 25px 2px rgba(47, 51, 64, 0.15);
    border-radius: 20px;
    padding: 0 0 0 28px;
    font-weight: 800;
    line-height: 30px;
}

.img_5{
    width: 52px;
    height: auto;
    padding: 0 21px 0 10px;
    vertical-align: center;
}


@media (max-width: 500px) {
    .container {
        max-width: 363px;
        min-width: 320px;
    }

    .text_container {
        margin: 0 auto;
        font-size: 40px;
        line-height: 52px;
    }

}